html {
    padding: 0;
    margin: 0;
    width: 100%;
    height: auto;
}

body {
    font-family: var(--font-open-sans);
    padding: 0;
    margin: 0;
    width: 95%;
    height: auto;
    color: var(--color-black);
    background-color: var(--color-white);
}

a, a:link, a:visited {
    font-size: 110%;
    color: var(--color-darkgreen);
    text-decoration: none;
}

a:active, a:focus, a:hover {
    font-size: 110%;
    color: var(--color-maroon);
    text-decoration: underline;
}

ul {
    padding: 0;
    margin-left: 1.24em;
}

nav {
    width: 100vw;
    /*margin-left: calc(-50vw + 50%); */
    padding: 0.20em;
    margin:0;
    border-bottom: 3px solid #000;
}

nav a, nav a:link, nav a:visited {
    font-weight: lighter;
    text-decoration: none;
}

nav a:active, nav a:focus, nav a:hover {
    font-weight: lighter;
    text-decoration: none;
    text-transform: uppercase;
}

nav ul {
    display: block;
    width: 100%;
    height: auto;
    list-style: none;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    display: inline-block;
    text-align: left;
    padding-top: 0em;
    padding-left: 0.82em;
    padding-right: 0.24em;
    padding-bottom: 0em;
    margin: 0;
}

article {
    display: block;
    max-width: 100vw;
    height: auto;
    padding-top: 1.24em;
    padding-bottom: 1.24em;
    margin-top: 1.24em;
    margin-bottom: 1.24em;;
    position: relative;
}

/* Double border pseudo-element */
article:not(:first-of-type)::before {
    content: '';
    position: absolute;
    left: 0;
    width: 100vw;
    height: auto;
    border-top: dotted 2px #333;
    margin-left: calc(-50vw + 50%);
    top: 0px;
}

/* Symbol pseudo-element */
article::after {
    content: 'ยง';
    position: absolute;
    /* bottom: -2.48em; /*-25px;*/
    bottom: -3.48em; /*-25px;*/
    left: 50%;
    transform: translateX(-50%);
    background: var(--color-white);
    padding: 1.24em;
    margin: 1.24em;
    margin-left: calc(-50vw + 50%);
    color: #333;
}


img.rss-valid {
    display: inline;
    width: auto;
    height: 0.82em;
}

h1 {
    font-size: 200%;
}

h2 {
    font-weight: lighter;
    font-size: 170%;
}

h3 {
    font-weight: lighter;
    font-size: 120%;
    text-transform: uppercase;
}

h4 {
    font-weight: lighter;
    font-size: 100%;
    text-transform: lowercase;
}

h1 code, h2 code, h3 code, h4 code {
    text-transform: none;
}

footer {
    width: 100vw;
    margin-left: calc(-50vw + 50%);
    padding: 0;
    margin: 0;
    color: var(--color-white);
    background-color: var(--color-black);
    box-sizing: border-box;
}

footer p {
    display: block;
    width: 100%;
    height: auto;
    padding: 0;
    margin: 0;
    font-family: var(--font-dosis);
    font-size: 0.82em;
    font-weight: lighter;
    margin-top: 0.32em;
    margin-left: 0;
    margin-right: 0;
    margin-bottom: 0;
}

footer img {
    display: block;
    float: left;
    vertical-align: top;
    border: 1px solid var(--color-black);
    border-top-left-radius: 1.2em;
    border-top-right-radius: 1.2em;
    box-shadow: inset 0.12em 0.12em var(--color-black);
    width: 3.2em;
    height: auto;
    margin: 0.24em;
}

footer a, footer a:link, footer a:visited {
    font-weight: lighter;
    color: var(--color-caltech-orange);
}

footer a:active, footer a:focus, footer a:hover {
    font-weight: lighter;
    color: var(--color-lightgreen);
}

.red {
    color: var(--color-red);
}

li.L0, li.L1, li.L2, li.L3, li.L4, li.L5, li.L6, li.L7, li.L8, li.L9 {
    color: #555;
    list-style-type: decimal;
}

#footnote-section {
    font-size: 80%;
    display: none;
}

.footnotes {
    font-size: 80%;
}

div.project-name {
    display: block;
    width: 100%;
    height: auto;
    padding-top: 1.24em;
    padding-left: 1.24em;
    margin-top: 1.24em;
}

header {
    display: block;
    margin: 0;
    padding: 0;
    width: 100vw;
    height: auto;
    border-bottom: thick double var(--color-gray);
}

header h1 {
    max-width: 90%;
    margin: 0;
    padding: 0;
    text-align: center;
    text-shadow: 0 1px var(--color-shadow-1),
                 -1px 0 var(--color-shadow-2),
                 -1px 2px var(--color-shadow-1),
                 -2px 1px var(--color-shadow-2),
                 -2px 3px var(--color-shadow-1),
                 -3px 2px var(--color-shadow-2),
                 -3px 4px var(--color-shadow-1),
                 -4px 3px var(--color-shadow-2),
                 -4px 5px var(--color-shadow-1),
                 -5px 4px var(--color-shadow-2),
                 -5px 6px var(--color-shadow-1),
                 -6px 5px var(--color-shadow-2),
                 -6px 7px var(--color-shadow-1),
                 -7px 6px var(--color-shadow-2),
                 -7px 8px var(--color-shadow-1),
                 -8px 7px var(--color-shadow-2);
    z-index: 100;
}

header h2 {
    max-width: 90%;
    font-style: italic;
    font-size: 100%;
    margin: 0;
    padding-top: 0;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 1em;
    text-align: center;
    text-decoration: var(--color-blue) wavy underline;
    z-index: 100;
}

header img {
    display: inline-block;
    z-index: -5;
    padding: 0;
    margin: 0;
    z-index: 1;
}

header blockquote {
    display: block;
    width: 100%;
    height: auto;
    padding: 0em;
    margin-left: 2.48em;
}

section {
    width: 100%;
    padding: 1%;
    margin: 1%;
}

section > div {
    padding: inherit;
    border-bottom: double var(--color-black);
}

img {
    object-fit: contain;
    max-width: 100%;
    padding: 0%;
    margin: 0%;
}

hr {
    border: none;
    border-top: 2px double #333;
    color: #333;
    overflow: visible;
    text-align: center;
    height: 5px;
}


/* Page-level headings */
h1 { font-size: 200%; }
h2 { font-size: 170%; }
h3 { font-size: 120%; }
h4 { font-size: 100%; }
h5 { font-size: 0.85em; }
h6 { font-size: 0.75em; }

/* Adjust sizes for headings within article elements */
article h1 { font-size: 170% !important; }
article h2 { font-size: 150% !important; }
article h3 { font-size: 140% !important; }
article h4 { font-size: 130% !important; }
article h5 { font-size: 100% !important; }
article h6 { font-size: 100% !important; }
