:root {
    --color-black: #000;
    --color-white: #fff;
    --color-darkgreen: darkgreen;
    --color-maroon: maroon;
    --color-deep-red: #5f0202;
    --color-caltech-orange: #FF6E1E;
    --color-shadow-1: #808d93;
    --color-shadow-2: #cdd2d5;
    --color-red: red;
    --color-lightgreen: lightgreen;
    --color-blue: blue;
    --color-gray: gray;

    --font-open-sans: 'Open Sans', sans-serif;
    --font-dosis: 'Dosis', sans-serif;
}
