@font-face {
    font-family: 'Atkinson-Hyperlegible';
    src : url('/webfonts/EOT/Atkinson-Hyperlegible-Bold-102.eot') format ('embedded-opentype'),
        url('/webfonts/WOFF2/Atkinson-Hyperlegible-Bold-102a.woff2') format('woff2'),
        url('/webfonts/WOFF/Atkinson-Hyperlegible-Bold-102.woff') format('woff'),
        url('/webfonts/TTF/Atkinson-Hyperlegible-Bold-102.ttf') format('truetype'),
        url('/webfonts/SVG/Atkinson-Hyperlegible-Bold-102.svg') format ('svg');
    src : url('/webfonts/EOT/Atkinson-Hyperlegible-BoldItalic-102.eot') format('embedded-opentype'),
        url('/webfonts/WOFF2/Atkinson-Hyperlegible-BoldItalic-102a.woff2') format('woff2'),
        url('/webfonts/WOFF/Atkinson-Hyperlegible-BoldItalic-102.woff') format('woff'),
        url('/webfonts/TTF/Atkinson-Hyperlegible-BoldItalic-102.ttf') format('truetype'),
        url('/webfonts/SVG/Atkinson-Hyperlegible-BoldItalic-102.svg') format('svg');


    src : url('/webfonts/EOT/Atkinson-Hyperlegible-Italic-102.eot') format('embedded-opentype'),
        url('/webfonts/WOFF2/Atkinson-Hyperlegible-Italic-102a.woff2') format('woff2'),
        url('/webfonts/WOFF/Atkinson-Hyperlegible-Italic-102.woff') format('woff'),
        url('/webfonts/TTF/Atkinson-Hyperlegible-Italic-102.ttf') format('truetype'),
        url('/webfonts/SVG/Atkinson-Hyperlegible-Italic-102.svg') format('svg');
    src : url('/webfonts/EOT/Atkinson-Hyperlegible-Regular-102.eot') format('embedded-opentype'),
        url('/webfonts/WOFF2/Atkinson-Hyperlegible-Regular-102a.woff2') format('woff2'),
        url('/webfonts/WOFF/Atkinson-Hyperlegible-Regular-102.woff') format('woff'),
        url('/webfonts/TTF/Atkinson-Hyperlegible-Regular-102.ttf') format('truetype'),
        url('/webfonts/SVG/Atkinson-Hyperlegible-Regular-102.svg') format('svg');
}

