<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="$lang$" xml:lang="$lang$"$if(dir)$ dir="$dir$"$endif$>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
</head>
<body>
<header>
	<h1>The Antenna</h1>
	<h2>finding signal in the noise of the net</h2>
	<hr>
</header>
<section>
$if(title)$
<h2>$title$</h2>
Items collected from <a href="socal_north.urls">aggregated urls</a>
<p>
<hr>
$endif$
$body$
</section>
<footer>
Antenna is an aggregation of items found around the net.
Curated with [skimmer](https://rsdoiel.github.io/skimmer), a minimalist feed reader.
</footer>
</body>
</html>
