<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="$lang$" xml:lang="$lang$"$if(dir)$ dir="$dir$"$endif$>
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=yes" />
  <link rel="stylesheet" type="text/css"  href="webfonts/fonts.css" media="screen" />
  <link rel="stylesheet" type="text/css"  href="css/site.css" media="screen" />
</head>
<body>
<header>
<div>
	<h1>The Antenna</h2> 
	<h2>finding signal in the noise of the net</h2>
<div>
	<img
	     class="logo" 
		 src="https://upload.wikimedia.org/wikipedia/commons/9/9c/Antenna_1_-_The_Noun_Project.svg"
		 alt="line art showing an antenna"
		 height="80" width="60" />
</div>
</header>
<nav>
<ul>
	<li><a href="./">The Antenna</a></li>
$if(socal_north_page)$
	<li><a href="$socal_north_page$">SoCal North!</a></li>
$endif$
$if(weather_page)$
	<li><a href="$weather_page$">Weather</a></li>
$endif$
	<li><a href="2023/">Archives</a></li>
	<li><a href="about.html">About</a></li>
</ul>
</nav>
<section>
$if(title)$
<div class="description-for-items">
<h2>$title$</h2>
$if(urls_file)$
Items collected from <a href="$urls_file$">aggregated urls</a>
$else$
An experiment in personal news aggregation.
$endif$
</div>
$endif$
$body$
</section>
<footer>
Antenna is a personal aggregation of items found around the web.
Curated with <a href="https://rsdoiel.github.io/skimmer">skimmer</a> and <a href="https://sqlite.org">sqlite</a> then rendered with <a href="https://pandoc.org">Pandoc</a>.
</footer>
</body>
</html>
